body {
    background-image: url('../img/Maxwell-2.jpg') !important; 
    background-repeat: repeat;
    background-position: 0 0;
    animation: moverFondo 40s linear infinite; 
}

@keyframes moverFondo {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0; 
    }
}