.navbar{
    background-color: rgb(226, 149, 222);
}



body {
        /* Reemplaza con la ruta real de tu imagen */
        background-image: url('img/Maxwell-2.jpg'); 
        background-repeat: repeat;
        background-position: 0 0;
        
        /* 40s define la duración. Auméntalo para que sea más lento */
        animation: moverFondo 40s linear infinite; 
      }

      @keyframes moverFondo {
        from {
          background-position: 0 0;
        }
        to {
          /* Mueve el fondo hacia la izquierda. 
            Para que el reinicio no se note, el valor en px (1000px) debe coincidir con el ancho de tu imagen. */
          background-position: -1000px 0; 
        }
}