body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../img/Maxwell-2.jpg');
  background-repeat: repeat;
  background-position: 0 0;
  animation: moverFondo 40s linear infinite;
}

@keyframes moverFondo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
.text-primary {
  color: #d66aac !important;
}

.btn-primary {
  background-color: #d66aac !important;
  border-color: #d66aac !important;
}

.btn-primary:hover {
  background-color: #c45599 !important;
  border-color: #c45599 !important;
}